

<article class="post">
	<header class="post-header home">
		<div class="post-title"><span id='category-name'></span></div>
	</header>
</article>

<article class="post">
	<div class="post-content">
		{%- if site.posts.size > 0 -%}
		{%- for post in site.posts -%}
		<div class="post-list">
{{post.categories[1]}}
			<div class="mypost post-list-item post-category-{{post.categories}}">
				{% if post.img %}
    			<a class="mypost-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.url | append : post.img}})" href="{{post.url | prepend: site.url}}"></a>
  				{% else %}
  				{% endif %}
				  <div class="mypost-content">
				  <h2 class="mypost-title"><a href="{{post.url | prepend: site.url}}">{{post.title}}</a></h2>
				  <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
				  {%- assign date_format = "%Y/%m/%d" -%}
				  <div class="mypost-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;-&nbsp;{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
				  {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}</div>&nbsp;
					</div>
				<!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
			</div>
		</div>
		{%- endfor -%}
	  	{%- endif -%}
	</div>
</article>

<script src="/public/js/jquery-3.4.1.slim.min.js"></script>
<script>
	function removeCategory() {
		if (window.location.hash) {
			let hash = window.location.hash.substring(1);
			$('#category-name').text(hash.substring(0, 1).toUpperCase() + hash.substring(1));
			let category_class = '.post-category-' + hash;
			let items = $('.post-list-item').each((i, e) => {
				if (!$(e).hasClass('post-category-' + hash)) {
					$(e).hide();
				} else {
					$(e).show();
				}
			});
		}
	}
	$(window).on('hashchange', () => {
		removeCategory();
	});
	$(document).ready(() => {
		removeCategory();	
	})
	
</script>
