<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="{{root_url}}">{{ site.title }}</a>
	</div>
	<p class="lead">{{ site.description }}</p>
	


</div>

<div class="sidebar-item sidebar-nav">

	<ul class="nav">
      <li class="nav-title">Pages</li>
	  <li>
	  	<a class="nav-item" href="/">All
			<span class="badge">{{site.posts|size}}</span>
		</a>
	  </li>
	  {% assign pages_list = site.pages %}
	  {% for node in pages_list %}
	    {% if node.title != null %}
	      {% if node.layout == "page" %}
	        <li>
	        	<a class="nav-item" href="{{ node.url }}">
	            	{{ node.title }}
	            </a>
	        </li>
	      {% endif %}
	    {% endif %}
	  {% endfor %}
	</ul>
</div>




{% assign l = site.posts | sort %} 
{% assign temp = null %}
{% for list in site.my_list %}
<div class="sidebar-item sidebar-nav">
  	<ul class="nav">
			<li class="nav-title">{{ list }}</li>
	    {% for post in l %}	
		{% if post.tag == list %}
		{% if post.category != temp %}
	    <li>
	    	<a class="nav-item" href="{{ root_url }}/{{ site.category_dir }}#{{ post.category }}">
				<span class="name">{{ post.category }}</span>
				<span class="badge">
					{% for i in site.categories %}
					{% assign ifirst = i|first %}
						{% if post.category == ifirst %}
							{{i|last|size}}
						{% endif %}
					{% endfor %}
				</span>
	    	</a> 
 		</li>
		 {% assign temp = post.category %}
		 {% endif %}
		 {% endif %}
		 {% endfor %}
	  </nav>
	</ul>
</div>
{% endfor %}


<div class="social-links">
	&nbsp;
	{%- include social.html -%}
  </div>

